/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  border-radius: 4px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.project-description {
  padding: 120px 60px;
}
.about-section {
  padding: 160px 20px;
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 18px;
  line-height: 27px;
  font-family: var(--default-font-family);
}
.about-section img {
  border-radius: 12px;
}
.about-section-content {
  margin: 30px;
}

.content-container {
  padding: 160px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  line-height: 27px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
  margin: 20px 0 0;
}
.content p {
  font-size: 14px;
}
.content img {
  border-radius: 12px;
}
.content {
  margin: 30px;
}

@media (max-width: 900px) {
  h1,
  .content h1 {
    font-size: 48px;
    line-height: 56px;
  }
  h2,
  .content h2 {
    font-size: 44px;
  }
  .hero,
  .content {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .about-section,
  .content-container {
    text-align: center;
    padding: 0;
  }
}
